* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
  }

 @font-face {
  font-family: 'Martin'; /* El nombre de la fuente que usarás en HTML */
  src: url('/assets/Fonts/MartinRegular.woff2') format('woff2'); /* Ruta al archivo WOFF2 */
  font-style: normal;
  font-weight: normal;
}

 body {
    min-height: 100vh;
    background-image: url("/assets/Portfolio/FooterColor.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

/* Para esconder la barra lateral */

  .scrollbar {
    overflow-y: scroll; 
  }

  .scrollbar::-webkit-scrollbar {
    display: none;
} 

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
  
    top: 0;
    left: 0;
  
    padding: 2px 8%;
    align-items: center;
    justify-content:space-between;
    background-color: #ffffff;
  }
  
  .logo {
    width: 100px;
    padding: 2% 0 0 0;
  }

  .header-color{
    display: block;
    position: absolute;
    width: 100%;
    height: 1%;
    left: 0;
    top: -0.2%;
  }
  
  /* Botones chulos */
  
  .buttons {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .buttons a {
    position: relative;
  
    padding: 15px;
    margin: 2vw 2vw;
  
    color: #c8017f;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Martin';
    font-size: 35px;
    /* font-weight:700; */
    
    letter-spacing: 1px;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .buttons a:hover {
    border: solid 2px;
    box-shadow: 0 0.25rem 0.93rem 0 #00000026;
    transition: box-shadow, transform, 0.5s;
  }
  
  .buttons .active {
    color: #210847;
  }

  .buttons .active2 {
    color: #210847;
  }

  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px #00000026;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .sidebar a {
    width: 96%;
    text-align: center;
  }

  .menu-button{
    display: block;
  }

  @media(max-width: 1024px) {
    .hideOnMobile{
      display: none;
    }
  }

  @media(max-width: 600px) {
    .sidebar{
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .buttons-index a {
        font-size: 30px;
        padding: 12px;
    }

    .content>h1 {
        font-size: 23px;
        top: 55%;
    }

    .sidebar a {
      width: 85%;
    }

    .header-color{
    display: block;
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0;
    top: -1%;
  }
  }
  
  @media (min-width: 1024px) {
    .header{
        flex-direction: row;
        padding: 2px 1%;
        justify-content: space-between;
    }
    .buttons a {
        font-size: 35px;
        padding: 10px;
    }
    .content>h1 {
        font-size: 20px;
        top: 60%;
    }

    .menu-button{
      display: none;
    }

    .sidebar {
      width: 0%;
    }
  }

/* fondo */
.sec-3 {
  display: flex;
  flex-direction: column;
  background-color: #E0F2AF;
  color: #c8017f;
}

.sec-3 h1 {
  font-size: 20px;
  color: #c8017f;
}

.sec-3 p {
  font-size: 16px;
  color: #c8017f;
}

.estanteria {
  display: none;
}

.flecha-plantas{
  position: absolute;
  visibility: hidden;
  animation: pulse 8s infinite;
  transform: translateY(0);
  bottom: 7%;
  left: 3%;
}

@keyframes pulse {
  10% {
    transform: translateY(25%);
  }
  20% {
      transform: translateY(0);
  }

  30% {
        transform: translateY(25%);
  }
  40% {
    transform: translateY(0);
  }
  50% {
      transform: translateY(25%);
  }

  60% {
        transform: translateY(0);
  }
  70% {
    transform: translateY(25%);
  }
  80% {
      transform: translateY(0);
  }

  90% {
        transform: translateY(25%);
  }
}

.sec-plantas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8% 0;
  background-color:#ffff;
}

.sec-plantas h1{
  color: #c8017f;
  font-size: 65px;
  text-align: center;
}

.sec-plantas p{
  color: #c8017f;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.planta-1 {
    width: 60%;

  }

  .planta-2 {
    width: 60%;
  }

  .planta-3 {
    width: 60%;
  }


.descripcion {
  padding: 6%;
}

.image-nosotros {
  width: 100%;
  padding: 6%;
}

.contentcont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  margin: 5%;
  padding: 2%;

  border-radius: 30px;
  box-shadow: 0 0.25rem 0.93rem 0 #00000026;
}

input {
  background-color: #ffffff;
  width: 80%;
  margin: 2%;
  padding: 2%;
  font-size: 20px;
  border-radius: 30px;
  border-color: #c8017f;
}

textarea {
  background-color: #fff;
  font-size: 20px;
  width: 80%;
  margin: 2%;
  padding: 2%;
  border-radius: 15px;
  border-color: #c8017f;
}

input:focus-within{
  outline: none;
  border-color: #755bea;
  border-width: 3px;
}

textarea:focus-within{
  outline: none;
  border-color: #755bea;
  border-width: 3px;
}

/* Interruptor */

.int-contenedor {
  position: absolute;
  bottom: 2%;
  right: 30%;
  visibility: hidden;
}

.interruptor {
  padding: 4%;
  width: 216px;
  position: relative;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0 0.25rem 0.93rem 0 #00000026;
}

.int {
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  color: #210847;
  font-size: 20px;
  text-decoration: none;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 114px;
  height: 100%;
  background: linear-gradient(90deg, #c8017f, #fcb655);
  border-radius: 30px ;
  transition: .5s;
}

#btn a {
  text-decoration: none;
  text-transform: uppercase;
}

#tooltip {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4%;
  padding: 4%;
  align-items: center;
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 0 0.25rem 0.93rem 0 #00000026;
}

#tooltipText {
  width: 100%
  }

/* Footer */

.sec-5 {
height: 400px;
}

.main1 {
position: relative;
z-index: 2;
}

.main2 {
position: relative;
z-index: 2;
}

.main3 {
position: relative;
z-index: 2;
}

.main4 {
position: relative;
z-index: 2;
/* margin-bottom: 350px; */
box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);
border-radius: 0 0 40px 40px;
}

footer {
position: fixed;
bottom: 10%;
width: 100%;
padding-left: 50px;
}

footer h1{
font-size: 50px;
color: #ffffff;
}

footer p{
color: #ffffff;
}

@media (min-width: 600px) {
  .sec-3 {
    background-color: #E0F2AF;
    /* height: 50vh; */
  }

  .sec-3 h1 {
    font-size: 14px;
  }

  .sec-3 p {
    font-size: 10px;
  }

  .flecha-plantas {
    visibility: hidden;
  }

  .estanteria {
    display: block;
    width: 100%;
  }
  
  .planta-1 {
    position: absolute;
    width: 14%;
    right: 15%;
    bottom: 15%;
  }
  
  .planta-2 {
    position: absolute;
    width: 18%;
    right: 1%;
    top: 2%;
  }
  
  .planta-3 {
    position: absolute;
    width: 18%;
    left: 1%;
    top: 1%;
  }
  
  #tooltip {
    text-align: left;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  
  #tooltipText {
    position: absolute;
    height: 40%;
    width: 80%;
    left: 50%;
    bottom: -45%;
    transform: translate(-50%);
    background-color: #ffff;
    color: #fcb655;
    padding: 1%;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 0.25rem 0.93rem 0 #00000026;
  }
  
  #tooltip:hover #tooltipText{
    visibility: var(--span-visibilidad);
    opacity: 1;
  }  

  /* Interruptor */

.int-contenedor {
  position: absolute;
  bottom: 2%;
  right: 36%;
  visibility: visible;
}

.interruptor {
  padding: 4%;
  width: 190px;
  position: relative;
  border-radius: 30px;
  background: #ffffff;
}

.int {
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 88px;
  height: 100%;
  border-radius: 30px ;
  transition: .5s;
}

#btn a {
  text-decoration: none;
  text-transform: uppercase;
}

.sec-plantas h1{
  font-size: 45px;
  text-align: left;
}

.sec-plantas p{
  font-size: 18px;
  text-align: left;
}

.image-nosotros{
  width: 90%;
}

.contentcont{
  width: 90%;
}

.sec-5 {
  height: 370px;
}

footer h1{
  font-size: 55px;
}

}

@media (min-width: 1024px) {

.flecha-plantas {
  visibility: visible;
}

.sec-3 h1 {
  font-size: 18px;
}

.sec-3 p {
  font-size: 14px;
}

.estanteria {
  width: 100%;
}

.planta-1 {
  position: absolute;
  width: 14%;
  right: 28%;
  top: 60%;
}

.planta-2 {
  position: absolute;
  width: 18%;
  right: 2%;
  top: 1%;
}

.planta-3 {
  position: absolute;
  width: 18%;
  left: 1%;
  bottom: 62%;
}

#tooltipText {
  position: absolute;
  width: 30%;
  height: 50%;
  left: 20%;
  bottom: 15%;
  padding: 2%;
  visibility: hidden;
}

/* Interruptor */

.int-contenedor {
  bottom:14%;
  right: 6%;
}

.interruptor {
  width: 216px;
}

.int {
  font-size: 20px;
}

#btn {
  width: 114px;
}

.sec-plantas {
  flex-direction: row;
  padding: 2% 0;
}

.sec-plantas h1{
font-size: 40px;
text-align: left;
}

.sec-plantas p{
  font-size: 16px;
  text-align: left;
}

.image-nosotros {
  width: 50%;
}

.contentcont{
  width: 90%;
}

.sec-5 {
  height: 400px;
}

footer h1{
  font-size: 80px;
}
}