* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("/assets/Portfolio/FooterColor.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

/* Para esconder la barra lateral */

.scrollbar {
  overflow-y: scroll; 
}

.scrollbar::-webkit-scrollbar {
  display: none;
} 

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;

  top: 0;
  left: 0;

  padding: 2px 8%;
  align-items: center;
  justify-content:space-between;
  background-color: #ffffff;
}

.logo {
    width: 100px;
    padding: 2% 0 0 0;
  }

  .header-color{
    display: block;
    position: absolute;
    width: 100%;
    height: 5.8%;
    left: 0;
    top: -1%;
  }

/* Botones chulos */

.buttons {
  display: flex;
  justify-content: center;
  padding: 0;
}

.buttons a {
    position: relative;
  
    padding: 15px;
    margin: 2vw 2vw;
  
    color: #c8017f;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Martin';
    font-size: 35px;
    /* font-weight:700; */
    
    letter-spacing: 1px;
    border-radius: 40px;
    overflow: hidden;
  }
  
  .buttons a:hover {
    border: solid 2px;
    box-shadow: 0 0.25rem 0.93rem 0 #00000026;
    transition: box-shadow, transform, 0.5s;
  }
  
  .buttons .active {
    color: #210847;
  }

  .buttons .active2 {
    color: #210847;
  }

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px #00000026;

  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar a {
  width: 96%;
  text-align: center;
}

.menu-button{
  display: block;
}

@media(max-width: 1024px) {
  .hideOnMobile{
    display: none;
  }
}

@media(max-width: 600px) {
  .sidebar{
    width: 100%;
  }
}

@media (min-width: 600px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .buttons-index a {
        font-size: 30px;
        padding: 12px;
    }

    .content>h1 {
        font-size: 23px;
        top: 55%;
    }

    .sidebar a {
      width: 85%;
    }
    
    .header-color{
    display: block;
    position: absolute;
    width: 100%;
    height: 5%;
    left: 0;
    top: -1%;
  }
  }
  
  @media (min-width: 1024px) {
    .header{
        flex-direction: row;
        padding: 2px 1%;
        justify-content: space-between;
    }
    .buttons a {
        font-size: 35px;
        padding: 10px;
    }
    .content>h1 {
        font-size: 20px;
        top: 60%;
    }

    .menu-button{
      display: none;
    }

    .sidebar {
      width: 0%;
    }
  }

/* Carrusel imágenes */
.sec-charla {
  background-color: #ffffff;
  position: relative;
}

.contenedor-imagenes {
  padding: 2%;
}

.slider-imagenes {
  position: relative;
  width: 90%;
  margin: 0 auto;
  mix-blend-mode: multiply;
}

.flor-act {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  right: 0;
}

.imagenes-carrusel {
  display: flex;
  aspect-ratio: 9/14;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 15px;
}

.imagenes-carrusel img {
  flex:1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 20px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider-nav a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3D5500;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-imagenes h1{
  color:#1f951b;
  font-size: 65px;
  text-align: center;
}

section .animate{
  opacity: 0;
  filter: blur(5px);
  transition: 1s;
}

section.show-animate .animate {
  opacity: 1;
  filter: blur(0);
}

.flecha-act{
  position: absolute;
  animation: pulse 8s infinite;
  transform: translateY(0);
  bottom: 4%;
  right: 5%;
}

@keyframes pulse {
10% {
  transform: translateY(25%);
}
20% {
    transform: translateY(0);
}

30% {
      transform: translateY(25%);
}
40% {
  transform: translateY(0);
}
50% {
    transform: translateY(25%);
}

60% {
      transform: translateY(0);
}
70% {
  transform: translateY(25%);
}
80% {
    transform: translateY(0);
}

90% {
      transform: translateY(25%);
}
}

.bio section {
  display: flex;
  overflow: hidden;
}

/* Carrusel */

.sec-tips {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 8% 0;
  background-color:#ffff;
}

.sec-tips .animate {
  transform: scale(.7);
}

.sec-tips.show-animate .animate {
  transform: scale(1);
}

.contenedor-carrusel {
  position: relative;
  width: 100%;
}

.contenedor-carrusel .slide-button{
  position: absolute;
  top: 115%;
  height: 50px;
  width: 50px;
  color: #ffff;
  background:#3D5500;
  border: none;
  outline: none;

  cursor: pointer;
  border-radius: 50%;
} 

.contenedor-carrusel .slide-button:hover {
  color: rgb(53, 96, 30);
  background-color: #ffff;
  box-shadow: 0 0.25rem 0.93rem 0 #00000026;
  transition: box-shadow, transform, 0.5s;
}

.contenedor-carrusel .slide-button#btn-iz {
  left: 38%;
}

.contenedor-carrusel .slide-button#btn-der {
  right: 38%;
}

.carrusel .lista-carrusel{
  padding: 2% 10% 2% 10%;
  display: grid;
  gap: 28px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(6, 1fr);
}

.carrusel .lista-carrusel::-webkit-scrollbar {
  display: none;
}

.carrusel .lista-carrusel .caja-carrusel {
  width: 280px;
  height: 340px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.25rem 0.93rem 0 #00000026;
  border-radius: 15px;
}

.sec-tips h1{
  color: #1f951b;
  font-size: 65px;
  text-align: center;
}

.sec-tips p{
  color: rgb(120, 165, 96);
  width: 100%;
  padding: 2%;
  text-align: center;
  font-size: 20px;
}

.caja-carrusel h1{
  color: #1f951b;
  font-size: 20px;
  text-align: center;
  padding: 2% 4%;
  text-align: left;
}

.caja-carrusel p{
  color: rgb(120, 165, 96);
  width: 100%;
  padding: 2%;
  text-align: center;
  font-size: 16px;
  padding: 4%;
  text-align: left;
}

.caja-carrusel img {
  width: 40%;
  padding: 4%;
}


/* Footer */

.sec-5 {
height: 400px;
}

.main3 {
position: relative;
z-index: 2;
}

.main4 {
position: relative;
z-index: 2;
box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);
border-radius: 0 0 40px 40px;
}

footer {
position: fixed;
bottom: 10%;
width: 100%;
padding-left: 50px;
}

footer h1{
font-size: 50px;
color: #ffffff;
}

footer p{
color: #ffffff;
}

@media (min-width: 600px) {
  .imagenes-carrusel {
    aspect-ratio: 21/9;
  }

  .contenedor-imagenes {
    padding: 2%;
  }

  .slider-nav {
    bottom: 1%;
  }

  #img1 {
    content: url(../assets/CharlasWeb.jpg);
  }

  #img2 {
    content: url(../assets/CharlasWeb2.jpg);
  }

  .sec-tips{
    height: 98vh;
  }

  .sec-tips h1{
    font-size: 45px;
  }

  .sec-tips p{
    font-size: 15px;
  }

  .caja-carrusel h1{
    font-size: 25px;
    padding: 2% 4%;
  }
  
  .caja-carrusel p{
    font-size: 17px;
    padding: 4%;
  }
  
  .caja-carrusel img {
    width: 50%;
    padding: 4%;
  }

  .carrusel .lista-carrusel{
    gap: 20px;
    
  }

  .carrusel .lista-carrusel .caja-carrusel {
    width: 300px;
    height: 380px;
  }

  .contenedor-carrusel .slide-button#btn-iz {
    left: 41%;
  }

  .contenedor-carrusel .slide-button#btn-der {
    right: 41%;
  }

  .sec-5 {
    height: 370px;
  }

  .slider-imagenes h1{
    font-size: 45px;
  }

  .flor-act {
    top: 10%;
    content: url(../assets/Florecitas.png);
  }

  footer h1{
    font-size: 55px;
  }
}

@media (min-width: 1024px) {
.sec-tips{
  height: 110vh;
}

.sec-tips h1{
  font-size: 40px;
}

.sec-tips p{
  font-size: 12px;
}

.caja-carrusel h1{
  font-size: 25px;
  padding: 2% 4%;
}

.caja-carrusel p{
  font-size: 17px;
  padding: 4%;
}

.caja-carrusel img {
  padding: 4%;
}

.carrusel .lista-carrusel{
  gap: 20px;
}

.carrusel .lista-carrusel .caja-carrusel {
  width: 325px;
  height: 400px;
}

.contenedor-carrusel .slide-button#btn-iz {
  left: 45%;
}

.contenedor-carrusel .slide-button#btn-der {
  right: 45%;
}

.slider-imagenes h1{
  font-size: 40px;
}

.sec-5 {
  height: 400px;
}

footer h1{
  font-size: 80px;
}
}